body{
  background-color: #000000;
  font-family: Arial;
    height: 22px;
  font-size: 16px;
  background: url('../img/fundo.jpg');
}

h1{
  color:#FFFFFF;
  font-size: 50px;
}

div{
  width: 1200px;
  background-color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
}

.container{
  background-color: #FFFFFF;
  text-align: justify;
  border: 1px;
  font-family: solid;
  color: #CCCCCC;
  margin-bottom: 20px;

}

h2{
  margin: 0px, 0px, 0px, 0px;
  border: 1px dashed #7E9F19; /*Definindo o estilo da borda*/
}

a{
  color: #2C88A7;
  font-weight:900;
  text-decoration:none;
  hover{background-color: #DC143C};
}

a:hover{
        background: #DC143C;
}

.Twitter{
  border: 1px dashed #7E9F19; /*Definindo o estilo da borda*/
}
