body{
  font-family: "Calibri", "Tahoma", "Arial";
  line-height: 22px;
  font-size: 16px;
  background-image: url("../img/fundo.jpg");
}

h1{
  color: #ffffff;
  font-size: 50px;
}

#container{
  width: 1200px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.drone{
  background-color: #ffffff;
  text-align: justify;
  border: 1px solid #cccccc;
  border-style: solid;
  margin-bottom: 20px;
}


h2 {
  margin: 0px;
  border-bottom: 1px dashed #7E9F19;

}

.drone a{
  color: #2C88A7;
  text-decoration: none;
  text-align: right;
  font-weight: 900;
}

.fonte{
  text-align: right;
}

.twitter{
  text-align: right;
  border-bottom: 1px dashed #7E9F19;

}

img{
  height: 150px;
  width: 120px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 10px;

}

.rodape{
  font: 12px;
  color: #ffffff;
  text-align: center;
}
