body {
  background-image:url("../img/fundo.jpg");
  background: cover;
  font-family: Calibri;
  line-height: 22px;
  font-size: 16px;
}

h1 {
  color: #FFFFFF;
  font-size: 50px;
}

#container {
  width: 1200px;
  margin: 0 auto;
}

.drone {
  background-color: #FFFFFF;
  text-align: justify;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px;
}

h2 {
  margin: 0px;
  border: 1px dashed #7E9F19;
}

a {
  color: #2C88A7;
  font-weight: 900px;
  text-decoration: none;
}

.twitter {
  border-bottom: 1px dashed #7E9F19;
  text-align: right;
}

a:hover {
  color: #dc143c;
}

.imagem {
  width: 120px;
  height: 150px;
  border: 1px solid #7E9F19;
  margin: 10px 10px 0 0;
  padding: 2px;
  float: left;
}

.exercicio {
  font-size: 12px;
  color: #FFFFFF;
  text-align: center;
}
 
.fonte {
  text-align: right;
}